---
import { Image } from '@astrojs/image/components';
import homeSvg from '../../assets/icons/home.svg';
import twitterSvg from '../../assets/icons/twitter.svg';
import linkedinSvg from '../../assets/icons/linkedin.svg';
import githubSvg from '../../assets/icons/github.svg';
import mailSvg from '../../assets/icons/mail.svg';
import { parameters } from '../../config';
---

<header id="main-header">
  <div class="homepage-link-wrapper">
    <a href="/" class="homepage-link" title="Go to homepage">
      <Image src={homeSvg} alt="Home icon" />
    </a>
  </div>

  <nav id="main-nav">
    <a class="link" href=`/#introduction` data-section-id="introduction-section">Introduction</a>
    <a class="link" href=`/#projects` data-section-id="projects-section">Projects</a>
    <a class="link" href=`/#articles` data-section-id="articles-section">Articles</a>
  </nav>

  <div class="external-links">
    <a
      class="link"
      href={`mailto:${parameters.personalInfo.mailAddress}`}
      title="Ask me any question!"
      rel="noopener noreferrer"
    >
      <Image src={mailSvg} alt="Mail icon" />
    </a>
    <a
      class="link"
      href={parameters.socials.githubUrl}
      target="_blank"
      title="Check out my code"
      rel="noopener noreferrer"
    >
      <Image src={githubSvg} alt="Github icon" />
    </a>
    <a
      class="link"
      href={parameters.socials.twitterUrl}
      target="_blank"
      title="Follow me on Twitter"
      rel="noopener noreferrer"
    >
      <Image src={twitterSvg} alt="Twitter icon" />
    </a>
    <a
      class="link"
      href={parameters.socials.linkedinUrl}
      target="_blank"
      title="Get in touch on LinkedIn"
      rel="noopener noreferrer"
    >
      <Image src={linkedinSvg} alt="LinkedIn icon" />
    </a>
  </div>
</header>

<style>
  #main-header {
    --link-padding: 0.25rem;

    /* Basic version */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0.5rem var(--default-layout-padding-x);
    position: sticky;
    top: 0;
    background: var(--c-white);
    transition: box-shadow 0.3s ease;
    z-index: var(--z-index-2);

    &[data-is-sticky='1'] {
      box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.5);
    }

    /* Rounded bar */
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 0.5rem 1.5rem;
    position: sticky;
    top: 20px;
    background: var(--c-white);
    max-width: 90vw;
    margin: auto;
    border-radius: 40px;
    box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.5); */

    & .homepage-link-wrapper {
      display: flex;

      & .homepage-link {
        text-decoration: none;
        color: var(--c-black);
        display: inline-flex;
        padding: var(--link-padding);
        align-items: center;
        font-weight: 500;
        font-size: 1.5rem;
      }
    }

    & #main-nav {
      margin: auto;
      display: flex;
      gap: 0.25rem;

      & .link {
        text-decoration: none;
        color: var(--c-black);
        padding: var(--link-padding);
        font-weight: 500;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    & .external-links {
      margin: auto 0;
      display: flex;
      justify-content: end;
      gap: 0.25rem;

      & .link {
        display: inline-flex;
        padding: var(--link-padding);
      }
    }
  }
</style>

<script>
  import throttle from 'lodash/throttle';

  const mainHeader = document.querySelector<HTMLElement>('#main-header');

  enableSmoothScroll();
  enableStickyStyles();

  function enableSmoothScroll() {
    const mainNavLinks = document.querySelectorAll<HTMLAnchorElement>('#main-nav a[data-section-id]');
    const sectionScrollOffset = 10;

    if (!mainHeader) {
      throw Error('Unable to find main header element.');
    }

    for (const link of mainNavLinks) {
      link.addEventListener('click', function onMainNavLinkClick() {
        if (!link.dataset.sectionId) {
          throw Error('Attribute [data-section-id] cannot be empty.');
        }

        const section = document.querySelector<HTMLElement>(`#${link.dataset.sectionId}`);

        if (!section) {
          throw new Error(`Section with id "${link.dataset.sectionId}" doesn't exist.`);
        }

        // TODO Integrate with sentry or something

        window.scrollTo({
          top: section.offsetTop - mainHeader.offsetHeight - sectionScrollOffset,
          behavior: 'smooth',
        });
      });
    }
  }

  function enableStickyStyles() {
    if (!mainHeader) {
      throw Error('Unable to find main header element.');
    }

    window.addEventListener(
      'scroll',
      throttle(function onWindowScroll() {
        mainHeader.dataset.isSticky = window.scrollY > 10 ? '1' : '0';
      }, 250),
    );
  }
</script>
