---
import { getCollection } from 'astro:content';
import WaveSection from './WaveSection.astro';

const articles = await getCollection('articles');
---

<WaveSection id="articles" title="Articles" color="secondary" oppositeColor="primary">
  <ul class="articles">
    {
      articles.map(article => (
        <li class="article">
          <a
            class="link-wrapper"
            href={`/articles/${article.slug},${article.data.id}/`}
            title={`Read more about "${article.data.title}"`}
          >
            <h3 class="heading">{article.data.title}</h3>
            <p class="lead">{article.data.lead}</p>
            <time class="created-at">
              {article.data.createdAt.toLocaleString('en-GB', {
                dateStyle: 'long',
                timeStyle: 'short',
              })}
            </time>
          </a>
        </li>
      ))
    }
  </ul>
</WaveSection>

<style>
  .articles {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    & .article {
      list-style: none;

      & .link-wrapper {
        display: block;
        text-decoration: none;
        color: var(--c-black);
        padding: 1.5rem;
        background: var(--c-white);
        box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.5);
        border-radius: var(--default-border-radius);
        transition: transform 0.3s ease;

        & .heading {
          font-size: 1.2rem;
          font-weight: 500;
          margin: 0 0 1rem;
        }

        & .created-at {
          font-size: 0.8rem;
          display: block;
          text-align: right;
        }

        &:hover {
          transform: translateY(-2px);
        }
      }
    }
  }
</style>
