---
import { getCollection } from 'astro:content';
import WaveSection from './WaveSection.astro';
import { generateUrl } from '../helpers/generateUrl';
import { getFormattedDateTime } from '../helpers/dateOrTime';

const articles = await getCollection('articles');
---

<WaveSection id="articles" title="Articles" color="secondary" oppositeColor="primary">
  <ul class="articles">
    {
      articles.map(article => (
        <li class="article">
          <a
            class="link-wrapper"
            href={generateUrl(`/articles/${article.slug},${article.data.id}`, Astro.site)}
            title={`Read more about "${article.data.title}"`}
          >
            <h2 class="heading line-clamp-1">{article.data.title}</h2>
            <p class="lead line-clamp-2">{article.data.lead}</p>
            <time class="created-at" datetime={article.data.createdAt.toISOString()}>
              {getFormattedDateTime(article.data.createdAt)}
            </time>
          </a>
        </li>
      ))
    }
  </ul>
</WaveSection>

<style>
  .articles {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @media (--above-medium-viewport) {
      grid-template-columns: 1fr 1fr;
    }

    & .article {
      list-style: none;

      & .link-wrapper {
        display: block;
        text-decoration: none;
        color: var(--c-black);
        padding: 1rem;
        background-color: var(--c-white-80);
        border-radius: var(--default-border-radius);
        transition: background-color 0.3s ease;

        @media (width >= 1024px) {
          padding: 1.5rem;
        }

        & .heading {
          font-size: 1.3rem;
          font-weight: 500;
          margin: 0 0 1rem;
        }

        & .lead {
          font-size: 1rem;
          font-weight: 500;
          height: calc(1rem * var(--default-line-height) * 2);
        }

        & .created-at {
          font-size: 0.8rem;
          font-weight: 500;
          display: block;
          text-align: right;
        }

        @media (--non-touch-device) {
          &:hover {
            background-color: white;
          }
        }
      }
    }
  }
</style>
