---
import { Picture, Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import WaveSection from './WaveSection.astro';
import Slider from './Slider/Slider.astro';
import Slide from './Slider/Slide.astro';
import SliderButton from './Slider/SliderButton.astro';
import externalLinkDarkSvg from '../assets/icons/externalLinkDark.svg';

const projects = (await getCollection('projects')).sort((a, b) => (a.data.id > b.data.id ? 1 : -1));
---

<WaveSection id="projects" title="Projects" color="primary">
  <SliderButton type="prev" class="projects-button-prev" slot="heading-slot" />
  <SliderButton type="next" class="projects-button-next" slot="heading-slot" />
  <Slider slidesGap="1.5rem" class="projects-slider">
    {
      projects.map((project, index) => (
        <Slide class="project">
          <div class="image-wrapper">
            <Picture
              class="image"
              src={import(`../assets/projects/${project.data.mainPhotoName}.png`)}
              widths={[720, 1440]}
              sizes="(max-width: 768px) 100vw, 700px"
              formats={['avif', 'webp', 'jpg']}
              alt={project.data.mainPhotoAlt}
              loading={index === 0 ? 'eager' : 'lazy'}
            />
          </div>
          <div class="details">
            <h2 class="heading">
              {project.data.url ? (
                <a
                  class="external-link"
                  href={project.data.url}
                  target="_blank"
                  title={`Open ${project.data.title} in a new tab`}
                  rel="noopener noreferrer"
                >
                  <span class="title">{project.data.title}</span>
                  <Image class="image" src={externalLinkDarkSvg} alt="External link icon" />
                </a>
              ) : (
                project.data.title
              )}
            </h2>
            <h3 class="lead">{project.data.lead}</h3>
            <ul class="tags">
              {project.data.tags.map(tag => (
                <li class="tag">{tag}</li>
              ))}
            </ul>
          </div>
        </Slide>
      ))
    }
  </Slider>
</WaveSection>

<style>
  .projects-slider {
    border-radius: var(--default-border-radius);
    margin: 0;

    & .project {
      display: flex;
      flex-flow: column;
      width: 100%;

      @media (--large-viewport) {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        width: auto;
      }

      & .image-wrapper {
        @media (--large-viewport) {
          grid-column: 1 / 8;
        }

        & .image {
          border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
          aspect-ratio: 16/9;
          width: 100%;
          height: auto;

          @media (--large-viewport) {
            border-radius: var(--default-border-radius) 0 0 var(--default-border-radius);
          }
        }
      }

      & .details {
        height: 100%;
        padding: 1rem;
        background: var(--c-white-50);
        border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);

        @media (--large-viewport) {
          grid-column: 8 / 11;
          padding: 1.5rem;
          border-radius: 0 var(--default-border-radius) var(--default-border-radius) 0;
        }

        & .heading {
          margin: 0 0 0.75rem;
          font-size: 1.4rem;
          font-weight: 500;
          color: var(--c-black);

          & .external-link {
            display: inline-block;
            text-decoration: none;
            color: inherit;

            & .title {
              display: inline-block;
              max-width: calc(100% - 20px);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              vertical-align: middle;
              margin-right: 0.25rem;
            }

            & .image {
              vertical-align: middle;
            }
          }
        }

        & .lead {
          font-size: 1rem;
          font-weight: 500;
          margin: 0 0 1rem;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          -webkit-line-clamp: 2;

          @media (--large-viewport) {
            -webkit-line-clamp: unset;
          }
        }

        & .tags {
          margin: 0;
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 1rem;

          & .tag {
            list-style: none;
            padding: 0.2rem 0.4rem;
            border-radius: var(--default-border-radius);
            background: var(--c-white);
            font-size: 0.9rem;
            font-weight: 500;
          }
        }
      }
    }
  }
</style>

<script>
  import { Slider } from './Slider/Slider';

  new Slider({
    sliderElement: document.querySelector<HTMLUListElement>('.projects-slider'),
    prevButtonElement: document.querySelector<HTMLElement>('.projects-button-prev'),
    nextButtonElement: document.querySelector<HTMLElement>('.projects-button-next'),
  });
</script>
