---
import { Picture, Image } from '@astrojs/image/components';
import { getCollection } from 'astro:content';
import WaveSection from './WaveSection.astro';
import Slider from './Slider/Slider.astro';
import Slide from './Slider/Slide.astro';
import SliderButton from './Slider/SliderButton.astro';
import externalLinkLightSvg from '../assets/icons/externalLinkLight.svg';

const projects = (await getCollection('projects')).sort((a, b) => (a.data.id > b.data.id ? 1 : -1));
---

<WaveSection id="projects" title="Projects" color="primary">
  <SliderButton type="prev" class="projects-button-prev" slot="heading-slot" />
  <SliderButton type="next" class="projects-button-next" slot="heading-slot" />
  <Slider slidesGap="1.5rem" class="projects-slider">
    {
      projects.map((project, index) => (
        <Slide class="project">
          <div class="image-wrapper">
            <Picture
              class="image"
              src={import(`../assets/projects/${project.data.mainPhotoName}.png`)}
              widths={[720, 1440]}
              sizes="(max-width: 768px) 100vw, 700px"
              formats={['avif', 'webp', 'jpg']}
              alt={project.data.mainPhotoAlt}
              loading={index === 0 ? 'eager' : 'lazy'}
            />
          </div>
          <div class="details">
            <div class="heading">
              <h2 class="title">{project.data.title}</h2>
              {project.data.url && (
                <a
                  class="external-link"
                  href={project.data.url}
                  target="_blank"
                  title={`Open ${project.data.title}`}
                  rel="noopener noreferrer"
                >
                  Open
                  <Image src={externalLinkLightSvg} alt="External link icon" />
                </a>
              )}
            </div>
            <h3 class="lead line-clamp-2">{project.data.lead}</h3>
            <ul class="tags">
              {project.data.tags.map(tag => (
                <li class="tag">{tag}</li>
              ))}
            </ul>
          </div>
        </Slide>
      ))
    }
  </Slider>
</WaveSection>

<style>
  .projects-slider {
    border-radius: var(--default-border-radius);
    margin: 0;

    & .project {
      display: flex;
      flex-flow: column;

      @media (--large-viewport) {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
      }

      & .image-wrapper {
        @media (--large-viewport) {
          grid-column: 1 / 8;
        }

        & .image {
          border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
          aspect-ratio: 16/9;
          width: 100%;

          @media (--large-viewport) {
            border-radius: var(--default-border-radius) 0 0 var(--default-border-radius);
          }
        }
      }

      & .details {
        height: 100%;
        padding: 1rem;
        background: var(--c-white-50);
        border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);

        @media (--large-viewport) {
          grid-column: 8 / 11;
          padding: 1.5rem;
          border-radius: 0 var(--default-border-radius) var(--default-border-radius) 0;
        }

        & .heading {
          margin: 0 0 1rem;

          & .title {
            display: inline-block;
            margin: 0;
            max-width: calc(100% - 85px);
            font-size: 1.5rem;
            font-weight: 500;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            vertical-align: middle;
          }

          & .external-link {
            display: inline-flex;
            align-items: center;
            background: var(--c-primary-dark);
            border-radius: var(--default-border-radius);
            padding: 0.2rem 0.4rem;
            margin: 0 0 0 0.75rem;
            text-decoration: none;
            font-weight: 500;
            font-size: 0.9rem;
            color: var(--c-white);
            gap: 0.25rem;
          }
        }

        & .lead {
          font-size: 1rem;
          font-weight: 500;
          margin: 1rem 0;
        }

        & .tags {
          margin: 0;
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 1rem;

          & .tag {
            list-style: none;
            padding: 0.2rem 0.4rem;
            border-radius: var(--default-border-radius);
            background: var(--c-white);
            font-size: 0.9rem;
            font-weight: 500;
          }
        }
      }
    }
  }
</style>

<script>
  import { Slider } from './Slider/Slider';

  new Slider({
    sliderElement: document.querySelector<HTMLUListElement>('.projects-slider'),
    prevButtonElement: document.querySelector<HTMLElement>('.projects-button-prev'),
    nextButtonElement: document.querySelector<HTMLElement>('.projects-button-next'),
  });
</script>
